<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="DB"
         connectionString="server=127.0.0.1;port=3306;uid=root;pwd=tiger;database=SQL에서 가져올 db이름"/>
  </connectionStrings>
</configuration>
